<div [@routerTransition]>
    <div class="br-mainpanel">
        <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
            <h4 class="tx-gray-800 mg-b-5">Services</h4>
        </div>

        <div class="br-pagebody pd-x-20 pd-sm-x-30">
            <div class="row row-sm">
                <div class="col-lg-12">
                    <div class="card card-default mb-3">
                        <div class="card-header">
                            <h6 style="text-decoration: none;color: #333;">
                                <strong style="text-decoration: none;color: #333;">Service administration
                                    <button pButton class="ui-button-rounded float-right" label="Add Service"
                                        icon="fas fa-plus" data-toggle="modal" data-target="#modalAddService">
                                    </button>
                                </strong>
                            </h6>
                        </div>
                        <div class="card-body">
                            <p-table #dt [columns]="cols" [value]="services" selectionMode="single"
                                [(selection)]="selectedService" [paginator]="true" [rows]="6">
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th *ngFor="let col of columns">
                                            {{col.header}}
                                        </th>
                                    </tr>
                                    <tr>
                                        <th *ngFor="let col of columns" [ngSwitch]="col.field">
                                            <input *ngSwitchCase="'code'" pInputText type="text"
                                                (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                                                style="width:100%">
                                            <input *ngSwitchCase="'name'" pInputText type="text"
                                                (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                                                style="width:100%">
                                            <input *ngSwitchCase="'layer'" pInputText type="text"
                                                (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                                                style="width:100%">
                                            <input *ngSwitchCase="'domain'" pInputText type="text"
                                                (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                                                style="width:100%">
                                            <input *ngSwitchCase="'parent'" pInputText type="text"
                                                (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                                                style="width:100%">
                                            <input *ngSwitchCase="'standard'" pInputText type="text"
                                                (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                                                style="width:100%">
                                            <input *ngSwitchCase="'user'" pInputText type="text"
                                                (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                                                style="width:100%">
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-service let-columns="columns">
                                    <tr [pSelectableRow]="service">
                                        <td *ngFor="let col of columns">
                                            <div *ngIf="service[col.field] && col.field == 'name'">
                                                {{service[col.field]}}
                                            </div>
                                            <div *ngIf="service[col.field] && col.field == 'code'">
                                                {{service[col.field]}}
                                            </div>
                                            <div
                                                *ngIf="service[col.field] && col.field != 'name' && col.field != 'code'">
                                                {{service[col.field].name}}
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                        <div class="card-footer">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- ============================================================== -->
<!-- MODAL AGREGAR -->
<!-- ============================================================== -->
<div class="modal fade" id="modalAddService" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Service </h5>
                <i class="fas fa-sitemap" style="margin-left: 2%"></i>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeAdd>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form (ngSubmit)="f.form.valid 
                && model.serviceName && selectedLayer && selectedDomain
                && addService(f);" #f="ngForm" novalidate>
                <div class="modal-body">
                    <div class="form-group required">
                        <label class="control-label" for="serviceName">Name:</label>
                        <input type="text" class="form-control" name="serviceName" [(ngModel)]="model.serviceName"
                            #serviceName="ngModel" autocomplete="off" required />
                        <p-message *ngIf="f.submitted && !model.serviceName" severity="error" text="Required field.">
                        </p-message>
                    </div>

                    <div class="form-group required">
                        <label class="control-label" for="serviceLayer">Layer:</label>
                        <select class="form-control" [(ngModel)]="selectedLayer" name="selectedLay">
                            <option *ngFor="let layer of layers" [ngValue]="layer">{{layer.name}}</option>
                        </select>
                        <p-message *ngIf="f.submitted && !selectedLayer" severity="error" text="Required field.">
                        </p-message>
                    </div>

                    <div class="form-group required">
                        <label class="control-label" for="serviceDomain">Domain:</label>
                        <select class="form-control" [(ngModel)]="selectedDomain" name="selectedDom">
                            <option *ngFor="let domain of domains" [ngValue]="domain">{{domain.name}}</option>
                        </select>
                        <p-message *ngIf="f.submitted && !selectedDomain" severity="error" text="Required field.">
                        </p-message>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="serviceStandard">Standard:</label>
                        <select class="form-control" [(ngModel)]="selectedStandard" name="selectedStand">
                            <option *ngFor="let standard of standards" [ngValue]="standard">{{standard.name}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="servicesParent">Parent:</label>
                        <select class="form-control" [(ngModel)]="selectedParent" name="selectedPar">
                            <option *ngFor="let service of services" [ngValue]="service">{{service.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button pButton class="ui-button-rounded ui-button-success" label="Submit" icon="fas fa-check"
                        type="submit">
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>